:root {
    font-size: 16px;
    --primary-color: #EAEAEA;
    --secondary-color: #FF8811;
    --third-color: #1BAFDC;
    --fourth-color: #000000;
}
* {
    box-sizing: border-box;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.body {
    margin: 1.5rem;
    font-size: 1.5rem;
}

.img {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: fill;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.main {
    position: absolute;
    left: 0;
    right: 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__ttl {
    color: var(--fourth-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    font-size: 2rem;
}

.main-p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.75rem;
    color: rgb(255, 115, 0);
}

.btn-save {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(77, 145, 64);
    color: beige;
}

.text {
    margin-top: 1rem;
    text-align: center;
    color: var(--fourth-color);
    font-family: 'Dekko', sans-serif;
    font-size: 1.25rem;
}

.text-save {
    margin-top: 0.25rem;
    font-style: italic;
    font-size: 1.5rem;
}

.btn-reset {
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(173, 51, 51);
    color: beige;
}

/* HEADER */

.header {
    position: relative;
    display: flex;
    margin: 3.125rem 2rem 0 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .header {
        margin: 3.125rem 7.75rem;
        gap: 5rem;
    }
}

.header__logo {
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 82px;
        height: 82px;
    }
}

.header__ttl {
    color: var(--third-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 2.19rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__ttl {
        font-size: 3.125rem;
    }
}

.header__menu {
    width: 45px;
    height: 25px;
}

@media screen and (min-width: 768px) {
    .header__menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__button {
        display: none;
    }
}

.header__cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

@media screen and (min-width: 768px) {
    .header__btn-cta {
        display: none;
    }
}

/* NAVBAR */

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 1rem;
}

.nav__link {
    color: var(--primary-color);
    font-family: 'Koho', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .nav__link {
        font-size: 1.563rem;
        margin-bottom: 2.5rem;
    }
}

/* FOOTER */

.footer {
    margin: 6rem 2rem 2rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 0 7.75rem 3.125rem 7.75rem;
    }
}

.footer__ico {
    width: 82px;
    height: 82px;
}

.footer__cta {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;
}

/* BUTTON */

.button-cta {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1.5rem;
    text-decoration: none;
    align-self: center;
}

.button-cta-footer {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    align-self: center;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgb(38, 37, 37);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--third-color);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }