:root {
    font-size: 16px;
    --primary-color: #EAEAEA;
    --secondary-color: #FF8811;
    --third-color: #1BAFDC;
    --fourth-color: #000000;
}

* {
    box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* BODY */


.body {
    background-color: rgb(38, 37, 37);
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    min-width: 428px;
}

/* PAGE */

.page__ttl {
    color: var(--secondary-color);
    font-family: 'Koho', sans-serif;
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .page__ttl {
        font-size: 2.5rem;
    }
}

/* HEADER */

.header {
    display: flex;
    margin: 3.125rem 2rem 0 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .header {
        margin: 3.125rem 7.75rem;
        gap: 5rem;
    }
}

.header__logo {
    width: 82px;
    height: 82px;
}

.header__ttl {
    color: var(--third-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 2.19rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__ttl {
        font-size: 3.125rem;
    }
}

.header__menu {
    width: 45px;
    height: 25px;
}

@media screen and (min-width: 768px) {
    .header__menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__button {
        display: none;
    }
}

/* NAVBAR */

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.nav__link {
    color: var(--primary-color);
    font-family: 'Koho', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .nav__link {
        font-size: 1.563rem;
        margin-bottom: 2.5rem;
    }
}

/* section */

.section {
    margin: 2rem;
}

@media screen and (min-width: 768px) {
    .section {
        margin: 2rem 7.75rem 3.125rem 7.75rem;
        /* gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }
}

.section__lst-itm-column {
    display: flex;
    justify-content: center;
}


.img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .img {
        width: 80%;
    }
}

.img-reduce {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .img-reduce {
        width: 30%;
        height: auto;
    }
}

/* FOOTER */

.footer {
    margin: 6rem 2rem 2rem 2rem;
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 0 7.75rem 3.125rem 7.75rem;
    }
}

.footer__ico {
    width: 82px;
    height: 82px;
}

.footer__cta {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;
}

/* BUTTON */

.button-cta {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1.5rem;
    text-decoration: none;
    align-self: center;
}

.button-cta-footer {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    align-self: center;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgb(38, 37, 37);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--third-color);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }