:root {
    font-size: 16px;
    --primary-color: #EAEAEA;
    --secondary-color: #FF8811;
    --third-color: #1BAFDC;
    --fourth-color: #000000;
}

* {
    box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* BODY */


.body {
    background-color: rgb(38, 37, 37);
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    min-width: 428px;
}

/* PAGE */

.page__ttl {
    color: var(--secondary-color);
    font-family: 'Koho', sans-serif;
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .page__ttl {
        font-size: 2.5rem;
    }
}

/* HEADER */

.header {
    display: flex;
    margin: 3.125rem 2rem 0 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .header {
        margin: 3.125rem 7.75rem;
        gap: 5rem;
    }
}

.header__logo {
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 82px;
        height: 82px;
    }
}

.header__ttl {
    color: var(--third-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 2.19rem;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .header__ttl {
        font-size: 3.125rem;
    }
}

.header__sub-ttl {
    color: var(--third-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .header__sub-ttl {
        font-size: 3rem;
    }
}

.header__menu {
    width: 45px;
    height: 25px;
}

@media screen and (min-width: 768px) {
    .header__menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__button {
        display: none;
    }
}

.header__cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin: 1rem 1rem 0 1rem;
    
}

@media screen and (min-width: 768px) {
    .header__btn-cta {
        display: none;
    }
}

.important__msg {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    color: red;
    font-size: 1.65em;
    margin: 1rem 1rem 0 1rem
}

@media screen and (min-width: 768px) {
    .important__msg {
        font-size: 2.5rem;
    }
}

/* NAVBAR */

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 1rem;
}

.nav__link {
    color: var(--primary-color);
    font-family: 'Koho', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .nav__link {
        font-size: 1.563rem;
        margin-bottom: 2.5rem;
    }
}

/* section */

.section {
    margin: 2rem;
}

@media screen and (min-width: 768px) {
    .section {
        margin: 2rem 7.75rem 3.125rem 7.75rem;
    }
}

.section__ttl {
    color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .section__ttl {
        font-size: 2.19rem;
        margin-bottom: 3rem;
    }
}

.section__content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .section__content {
        gap: 5rem;
    }
}

.section__text {
    color: var(--primary-color);
    font-family: 'Dekko', sans-serif;
    text-align: justify;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .section__text {
        font-size: 1.563rem;
    }
}

.section__picture {
    width: 82px;
}

@media screen and (min-width: 768px) {
    .section__picture {
        width: 150px;
    }
}

.section__text-important {
    color: var(--third-color);
    font-family: 'Dekko', sans-serif;
    font-size: 1.375rem;
}

@media screen and (min-width: 768px) {
    .section__text-important {
        font-size: 1.9rem;
    }
}


.section__lst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .section__lst {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.section__lst-itm {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    flex-direction: column-reverse;
}

.section__lst-itm-row {
    display: flex;
    gap: 1rem;
}

.section__lst-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.section__lst-itm-column {
    display: flex;
    justify-content: center;
}

.img {
    height: 200px;
}

@media screen and (min-width: 768px) {
    .img {
        height: 400px;
    }
}

/* TRAINING */

.training {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

@media screen and (min-width: 768px) {
    .training {
        margin: 0 7.75rem 3.125rem 7.75rem;
    }
}

.training__ttl {
    color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;

}

@media screen and (min-width: 768px) {
    .training__ttl {
        font-size: 2.19rem;
        margin-bottom: 3rem;
    }
}

.training__lst {
    color: var(--primary-color);
    font-family: 'Dekko', sans-serif;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .training__lst {
        font-size: 1.563rem;
    }
}

.training__lst-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.training__date {
    color: var(--third-color);
}

@media screen and (min-width: 768px) {
    .training__date {
        font-size: 1.563rem;
    }
}

/* EXP */


.exp__ttl {
    color: var(--third-color);
    font-family: 'League Spartan', sans-serif;
    margin: 0.75rem 0;
}

@media screen and (min-width: 768px) {
    .exp__ttl {
        font-size: 2.19rem;
        margin-bottom: 3rem;
    }
}

.exp__itm {
    color: var(--primary-color);
    font-family: 'Dekko', sans-serif;
    list-style: circle;
    margin-left: 0.75rem;
}

@media screen and (min-width: 768px) {
    .exp__itm {
        font-size: 1.563rem;
    }
}

@media screen and (min-width: 768px) {
    .exp__itm--pad {
        margin-bottom: 2rem;
    }
}

/* LOGOS - DIVERS - NT PAGE */

.img__logo {
    width: 70%;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .img__logo {
        width: 40%;
    }
}

/* FOOTER */

.footer {
    margin: 6rem 2rem 2rem 2rem;
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 0 7.75rem 3.125rem 7.75rem;
    }
}

.footer__ico {
    width: 82px;
    height: 82px;
}

.footer__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .footer__cta {
        margin: 5rem 7.75rem 3.125rem 7.75rem;
        gap: 10rem;

    }
}

/* BUTTON */

.button-cta {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1.5rem;
    text-decoration: none;
    align-self: center;
}

.button-cta {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1.5rem;
    text-decoration: none;
    align-self: center;
}

.button-cta-footer {
    color: var(--fouth-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-family: 'Koho', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
}

.button__portfolio-bottom {
    display: flex;
    justify-content: center;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    gap: 1rem;
    color: var(--third-color);
}

@media screen and (min-width: 768px) {
    .form {
        max-width: 500px;
        margin: 2rem auto;
    }
}

.form__fld {
    font-size: 1rem;
    font-family: 'Koho', sans-serif;
}

.form__fld--btn {
    padding: 0.5rem;
    text-align: center;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgb(38, 37, 37);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--third-color);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }